/Compressive sensing/WSNCS/*.toc
/Compressive sensing/WSNCS/*.aux
/Compressive sensing/WSNCS/*.log
/Compressive sensing/WSNCS/*.out
/Compressive sensing/WSNCS/*.synctex
/Compressive sensing/WSNCS/*.pdf
/Compressive sensing/WSNCS/notes/*.aux
